<div class="time-indicator">
  <span class="position">{{seconds-to-readable progress}}</span>
  <div class="progress-bar" onclick={{action 'pickTime'}}>
    <div class="progress"></div>
  </div>
  <span class="media-length">{{seconds-to-readable length}}</span>
</div>