<nav>
  <span class="title">Browse</span>
  <a href="#">Discover</a>
  <a href="#">Friends</a>
  <span class="title">Your Music</span>
  {{#link-to 'songs.library'}}Library{{/link-to}}
  <a href="#">Playlists</a>
  <a href="#">Artists</a>
  <a href="#">Albums</a>
  {{#link-to 'my-account'}}My Account{{/link-to}}
</nav>