<nav>
  <span class="title">Browse</span>
  <a href="#">Discover</a>
  <a href="#">Friends</a>
  <span class="title">Your Music</span>
  <a href="#">Library</a>
  <a href="#">Playlists</a>
  <a href="#">Artists</a>
  <a href="#">Albums</a>
  {{#link-to 'songs.all'}}Songs{{/link-to}}
</nav>