@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700');
$primary: rgba(209, 96, 61, 1);
$white: rgba(255, 255, 255, .8);
$black: #212121;

$music_player_height: 150px;
$nav_width: 215px;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* { box-sizing: border-box; }
nav, wrapper { height: calc(100% - #{$music_player_height}); }
wrapper { padding: 15px 50px; display: block;
  width: 90%;
  max-width: calc(100% - #{$nav_width});
  float: right;
}
body { background: $black; font-family: "Lato", sans-serif; }
h1, h2 { color: $primary; font-family: "Roboto Slab", serif; letter-spacing: 2px; font-weight: 700; }
h3 { color: $white; }
nav {
  z-index: 100;
  max-height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, .2);
  width: 10%;
  min-width: $nav_width;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  span.title {
    color: rgba(255, 255, 255, .5);
    padding: 10px 15px;
    font-weight: 700;
    background: rgba(0, 0, 0, .2);
    font-size: .75rem;
  }
  a { color: $white;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    transition-duration: 150ms;
    font-weight: 700;
    &:hover, &.active {
      background: $black;
      color: $primary;
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0.25); }
  }
}
.music-player {
  height: $music_player_height;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .time-indicator {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: .75rem;
    .progress-bar {
      height: 5px;
      background: transparentize($primary, 0.8);
      border-radius: 8px;
      min-width: 250px;
      width: 100%;
      margin: 0 15px;
      position: relative;
      overflow: hidden;
      &:hover { cursor: pointer; }
      .progress {
        transition-duration: 300ms;
        background: $primary;
        height: 100%;
        position: absolute; }
    }
  }
  .actions {
    color: $white;
    padding: 15px;
    .button {
      margin: 0 15px;
      background: transparent;
      border: none;
      color: $primary;
      width: 50px;
      height: 50px;
      outline: none;
      &:hover { cursor: pointer; }
    }
  }
}
/** LOGIN AND REGISTER STYLES **/
// Login/register styles goes here (task 1)
/** END LOGIN AND REGISTER STYLES **/

/** SONG LIST STYLES **/
.song-list {
  // Song list styles goes here (task 2)
}
/** END SONG LIST STYLES **/

/** ALBUM COVER STYLES **/
.album-cover {
  // Album cover styles goes here (task 3)
  background: black;
  height: $music_player_height;
  width: $nav_width;
  position: absolute;
  left: 0;
}
/** END ALBUM COVER STYLES **/

/** MY ACCOUNT STYLES **/
.my-account {
  // My account styles goes here (task 3)
}
/** END MY ACCOUNT STYLES **/