<nav>
  <span class="title">Browse</span>
  <a href="#">Discover</a>
  <a href="#">Friends</a>
  <span class="title">Your Library</span>
  <a href="#">Playlists +</a>
  <a href="#">Artists</a>
  <a href="#">Albums</a>
  <a href="#">Songs</a>
</nav>
<wrapper>{{outlet}}</wrapper>
{{music-player}}