<div class="login-register-page">
  <h2>Music-Stack</h2>
  <button class="spotify" type="submit"><i class="fab fa-spotify"></i> Login in with Spotify</button>
  <button class="youtube" type="Submit"><i class="fab fa-youtube"></i> Login in with YouTube</button>
  <h3>OR</h3>
  <input type="text" placeholder="Enter Username" name="uname" required>
  <input type="password" placeholder="Enter Password" name="psw" required>
  <button class="submit" type="submit">{{#link-to 'songs' class='submit'}}Login{{/link-to}}</button>
   {{#link-to 'register' class='sign-up'}}Don't have an account? Sign up!{{/link-to}}
</div>