{{sidebar-navigation}}
<wrapper>
  <h1>My Account</h1>
  <div class="my-account">
    <p>
      <i class="fas fa-user"></i> Name: Mike Smith
    </p>
    <p>
      <i class="fas fa-music"></i> Username: MikeSmith100
    </p>
    <p>
      <i class="fas fa-key"></i> Password: ILoveMusic
      <button class="change"> Change Password</button>
    </p>
  </div>
  <div class="add-service">
    <h3 class="add-new-service">Add New Service</h3>
    <button class="spotify"><i class="fab fa-spotify"></i></button>
    <button class="youtube"><i class="fab fa-youtube"></i></button>
  </div>
</wrapper>
{{music-player}}
