<div class="my-account">
{{sidebar-navigation}}
<wrapper>
<h3> Email: </h3> <input type="text" value="Test@gmail.com" name="ugmail">
<input type="password" name="account pass" value="testpass">
<div class = "setButton">
	<button class = "submit" type="submit">Set</button><br>
</div>
<h3> Link Spotify: </h3> <input type="text" name="account name" value="Test@gmail.com">
<input type="password" name="account pass" value="testpass">
<div class = "setButton">
	<button class = "submit" type="submit">Set</button><br>
</div>
<h3> Link Youtube: </h3> <input type="text" name="account pass" value="testusername">
<input type="password" name="account pass" value="testpass"> 
<div class = "setButton">
	<button class = "submit" type="submit">Set</button><br>
</div>
{{outlet}}
</wrapper>
</div>