<div class="login-register-page">
  <h2>Register</h2>
  <input type="text" placeholder="Enter Email" name="uname" required>
  <input type="text" placeholder="Enter Username" name="uname" required>
  <input type="password" placeholder="Enter Password" name="psw" required>
  <input type="password" placeholder="Confirm Password" name="psw" required>
  <div class="submit-btn-container">
    <button class="register" type="submit"> {{#link-to 'login' class='create-account'}}
      Create Account{{/link-to}}</button>
    <br>
    <button class="spotify" type="submit"><i class="fab fa-spotify"></i>Create account with Spotify</button>
    <br>
    <button class="facebook" type="submit"><i class="fab fa-facebook-f"></i>Create account with Facebook</button>
  </div>
</div>
